footer {
    background-color: #DCD6CF;
    font-family: 'Red Rose', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem 1rem 3rem;
    height: 24rem;

    .liens{
        width: 50%;
        height: 100%;

        .navBarFooter{
            display: flex;
            justify-content: center;
            align-items: start;
            flex-direction: column;
            gap: 2rem;
            height: 100%;
            width: 100%;

            a{
                text-decoration: none;
                list-style-type: none;
                color: inherit;
            }
        }
    }

    .space{
        display: flex;
        justify-content: space-around;
        align-items: start;
        flex-direction: column;
        width: 50%;
        height: 90%;

        .phrase2{
            font-size: 2rem;

            h1{
                width: 100%;
            }
        }

        .phrase{
            padding: 0;
            margin: 0;
            width: 90%;
            #email{
                height: 3rem;
                width: 100%;
                border-radius: 12.5px;
                background-color: #DCD6CF;
            }

            #email::placeholder{
                font-size: 1.5rem;
                color: black;
            }

            .bouton {
                border: none;
                border-radius: 12px;
                background-color: #272727;
                color: #DCD6CF;
                font-family: 'Red Rose', sans-serif;
                height: 43px;
                width: 147px;
                
            }
        }
    }
}