.custom-file-upload{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-family: 'Red Rose', sans-serif;
    border-radius: 1rem;
    background-color: #DCD6CF;
    width: 6rem;
    padding: 0.7rem;
    color: black;
}