@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@400;700&display=swap');

.headerForm{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 2rem 2rem 2rem;
    font-family: 'Red Rose', sans-serif;

    .divHeadLeft{
        width: 30%;
    }

    .divHeadCenter{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;

        h2{
            text-align: start;
            font-size: 2rem;
            width: 70%;
        }
    }

    .divHeadRight{
        width: 30%;
    }
}

.formHome{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 6rem 0;

      .inputTextWrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50%;

        .divInput{
            display: flex;
            justify-content: start;
            align-items: center;
            background-color: #242424;
            padding: 0.8rem 0.8rem 0.8rem 3rem;
            width: 20rem;
            margin: 1rem 0 1rem 0;
            border-radius: 1.5rem;

            input{
                background-color: #242424;
                border: none;
                width: 100%;
            }
            input::placeholder{
                color: white;
            }
            input:valid{
                color: white;
            }
            input:focus{
                outline: none;
                border-color: transparent;
                background-color: rgb(61, 61, 61);
                border-radius: 1rem;
            }
        }

        select{
            display: flex;
            justify-content: start;
            align-items: center;
            background-color: #242424;
            padding: 0.8rem 0.8rem 0.8rem 3rem;
            width: 20rem;
            margin: 1rem 0 1rem 0;
            border-radius: 1.5rem;
            color: white;
        }

        input{
            background-color: #242424;
            border: none;
            width: 30%;
        }
        input::placeholder{
            color: white;
        }
        input:valid{
            color: white;
        }
        input:focus{
            outline: none;
            border-color: transparent;
            background-color: rgb(61, 61, 61);
            border-radius: 1rem;
        }
      }

      .uploadImgWrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50%;
        height: 100%;

        .divBackground{
            background-color: #242424;
            padding: 2rem;
            width: 15rem;
            height: 15rem;
            border-radius: 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;


            .imgUpload{
                height: 10rem;
                width: 10rem;
                background-image: url(http://localhost:5173/assets/icons-img-500.png);
                background-size: cover;
            }
        }
      }
}
