.bookList{
    background-color: #242424;
    color: #D9D9D9;
    font-family: 'Red Rose', sans-serif;
    border-radius: 2.5rem;

.headBookList{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 2rem 2rem 2rem;
    font-family: inherit;

    .divHeadLeft{
        width: 30%;

        h2{
            text-align: start;
            font-size: 2rem;
            width: 100%;
        }
    }

    .divHeadCenter{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;

        h2{
            width: 70%;
        }
    }

    .divHeadRight{
        width: 30%;
    }
}

.wrapperCard{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 2rem 0 2rem 0;
}

.exploreOurGallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: inherit;

    h2{
        width: 40%;
        font-size: 2rem;
        text-align: center;
        margin-bottom: 4rem;
    }

    p{
        font-size: 0.8rem;
        margin-bottom: 4rem;
    }
}
}